*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}
nav{
    display: flex;
    background-color: blue;
    padding:  12px 16px;
    
}
.logo{
    width:60%;

}
nav a{
    color: white;
    text-decoration: none;
  
}
ul{
    display: flex;
    display: inline-flexbox;
    width: 50%;
    justify-content: space-evenly;
    list-style: none;
   
}