*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none{
    display: none;
}
.v-none{
    visibility: hidden;
}


nav{
    display: flex;
    background-color: blue;
}
.logo{
    width: 100%;
    padding:  12px 16px;
}
nav a{
    color: white;
    text-decoration: none;
    list-style: none;
}
ul{
    display: flex;
    width: 45%;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    padding:  12px 16px;
}